<% @title = $posts_title + $generic_title %>

<div class="container" id="index">
	
	<div class="row">
	
		<div class="col-md-12">

			<h1><%= $posts_title %></h1>
			
			<div class="local-nav">
				<%= link_to "Scrivi nuovo post...", new_post_path, class: "btn btn-primary" %>
			</div>
			
			<div id="all-post">
				<% @posts.each do |p| %>
			
					<hr>

					<div class="post">
						<div class="post-title">
							<h2><%= link_to p.post_title, post_path(p) %></h2>
							<div class="post-date">
								<p><%= p.created_at.strftime("%e %B %Y") %></p>
							</div>
						</div>
						
						<div class="post-abstract">
							<p><%= p.post_abstract + "..." %></p>
						</div>
						<p class="object-id">ID <%= p.id %></p>
					</div>
						
				<% end %>
			</div>
	
		</div>
	
	</div>
	
</div>