<div class="container">
	
	<div class="col-md-12">

		<h1>Nuovo Post</h1>
	
		<%= form_for @post do |f| %>
			<div class="form-group">
				<%= f.label :post_title, "Titolo" %>
				<%= f.text_field(:post_title, size: 55, class: "form-control") %>
			</div>
			<!-- <div class="form-group">
				<%= f.label :post_quote, "Citazione (opzionale)" %>
				<%= f.text_area(:post_quote, cols: 55, rows: 3, class: "form-control") %>
			</div> -->
			<div class="form-group">
				<%= f.label :post_body, "Contenuto" %>
				<%= f.text_area(:post_body, cols: 55, rows: 20, class: "form-control") %>
			</div>
			<div class="form-group">
				<%= f.submit "Pubblica post", class: "btn btn-primary" %>
				<span class="nav-alternative-separator"> oppure </span>
				<%= link_to "Annulla e torna indietro", :back, class: "form-cancel" %>
			</div>
		<% end %>

	</div>

</div>