<div>
	<h1> <%= @post.post_title %> </h1>
	<p><%= link_to "Modifica post", edit_post_path(@post) %> · <%= link_to "Cancella post", post_path(@post), :data => {:confirm => "La cancellazione sarà permanente...", :method => "delete"} %></p>
	
	<div class="post">
		
		<div class="post_quote">
			<%= simple_format(@post.post_quote) %>
		</div>
		
		<div class="post_body">
			<%= simple_format(@post.post_body) %>
		</div>
		
	</div>
	
</div>