<% @title = @post.title + $website_name %>

<div class="container" id="show">

	<div class="row">

		<div class="col-md-12">

			<div class="post-title">
				<h1> <%= @post.title %> </h1>
				<ul class="post-menu">
					<li>
						<%= link_to $post_edit_title, edit_post_path(@post) %>
					</li>
					<li>
						<%= link_to $label_post_delete, post_path(@post), :data => {:confirm => "La cancellazione sarà permanente...", :method => "delete"}, class: "delete" %>
					</li>
				</ul>
			</div>

		</div>

		<div class="col-md-8">

			<div class="post_body">
				<%= simple_format(@post.body) %>
			</div>

		</div>

		<div class="col-md-4" id="timeline">
			<ul class="timeline-container">

				<% @post_history.each do |item| %>
					<li><span><%= item.event_type_id %> —— <strong><%= item.created_at.strftime("%e %B %Y") %></strong> at <strong><%= item.created_at.strftime("%H:%M") %></strong> —— da <em>user_name</em></span></li>
				<% end %>

			</ul>
		</div>

	</div>

</div>
